<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>{{ category.getName }}</h1>

    {% if tasks is not empty %}
        <p>Here the tasks in {{ category.getName }} category:</p>
        <ul>
            {% for task in tasks %}
                <li>{{ task.getDescription }}</li>
                <li>{{ task.getDueDate }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/tasks' method='post'>
        <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">
        <label for='description'>Task description:</label>
        <input id='description' name='description' type='text'><br>
        <label for='due_date'>Task Due Date:</label>
        <input id='due_date' name='due_date' type='date'>
        <button type='submit'>Add category</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
